.home__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  transform: translateX(-5%);
}

.home_img__wrapper {
  align-self: center;
  transform: translateX(10%);
}

.kiwi_img {
  width: 60rem;
  height: 40rem;
}

.home_hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-18%);
  gap: 1rem;
}

h1 {
  font-size: 7.2rem;
  padding-bottom: 0;
}

.hero_desc {
  font-size: 2rem;
  text-align: center;
  transform: translateY(-1.5rem);
}

.home_button__wrapper {
  margin: 1rem 0;
  display: flex;
  width: 27.5rem;
  gap: 1.5rem;
  position: absolute;
  transform: translateY(10rem);
  transition: all 0.2s;
}

.home_button__wrapper .button {
  width: 50%;
}

.button_login_animation {
  transform: translateY(17rem);
}

.button_register_animation {
  transform: translateY(20rem);
}

.button {
  padding: 0.4rem;
  font-size: 3rem;
  border-radius: 6px;
  font-weight: 700;
  transition: all 0.2s;
  font-family: "Indie Flower", cursive, sans-serif;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button_base {
  background-color: #604623;
  border: 1px solid #604623;
  color: #fff;
}

.button_base:hover,
.button_base:active {
  background-color: #fff;
  color: #604623;
}

.button_inverted {
  background-color: #fff;
  border: 1px solid #604623;
  color: #604623;
}

.button_inverted:hover,
.button_inverted:active {
  background-color: #604623;
  color: #fff;
}

.error_message {
  position: absolute;
  color: red;
  font-size: 1.4rem;
  top: -50%;
  right: 50%;
  transform: translate(50%, 15%);
}

.hero_header {
  width: 32rem;
}

@media (max-width: 800px) {
  .home__container {
    width: 40vw;
    margin: 0 auto;
    transform: translate(0%, -10%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home_img__wrapper {
    transform: translateX(0%);
  }

  .kiwi_img {
    scale: 0.7;
  }

  .home_hero__container {
    transform: translate(0%, -30%);
  }
}

@media (max-width: 600px) {
  .kiwi_img {
    width: 40rem;
    height: calc(80rem / 3);
  }
}
