.home--container {
  height: 100vh;
  display: flex;
  margin: 0 auto;
  padding-bottom: 10rem;
  width: 70%;
}

.home-hero--wrapper {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  transform: translateX(-6.4rem);
}

.home-hero-img--wrapper {
  align-self: center;
  justify-self: flex-end;
  transform: translateX(2.4rem);
}

.kiwiIMG {
  width: 600px;
  height: 400px;
}

h1 {
  font-size: 7.2rem;
  font-family: "Indie Flower", cursive, sans-serif;
  padding-bottom: 0;
}

.home-button--wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.desc {
  font-size: 2rem;
  text-align: center;
  font-family: "Indie Flower", cursive, sans-serif;
  transform: translateY(-1.5rem);
}
