.button {
  padding: 1.2rem 2.4rem;
  font-size: 2.4rem;
  border-radius: 0.6rem;
  font-weight: 700;
  transition: all 0.2s;
}

.button:hover,
.button:active {
  cursor: pointer;
}

.button-base {
  background-color: #604623;
  border: 1px solid #604623;
  color: #fff;
}

.button-base:hover,
.button-base:active {
  background-color: #fff;
  color: #604623;
}

.button-inverted {
  background-color: #fff;
  border: 1px solid #604623;
  color: #604623;
}

.button-inverted:hover,
.button-inverted:active {
  background-color: #604623;
  color: #fff;
}
