@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.home_hero__container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(-6.4rem);
  gap: 1rem;
}

.pet_img {
  width: 25rem;
  height: 30rem;
}

.pet_box {
  min-width: 40vh;
  min-height: 40vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-color: #604623;
}

.pet_actions_box {
  display: flex;
  gap: 2rem;
}

.stats__container {
  position: absolute;
  right: 0;
  transform: translateX(125%);
}

.stat__wrapper p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
}

.button_action {
  font-size: 2.4rem;
}

.btn_kiwi {
  background-color: #604623;
  min-width: 4vw;
  min-height: 3vh;
  font-family: "Kaushan Script", cursive;
  font-size: 1.7rem;
  padding-top: 0;
}

.speech_bubble {
  position: absolute;
  z-index: 999;
  font-weight: 800;
  color: black;
  transform: translate(20%, 10%);
}

.kiwi_message {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  top: 7.5rem;
  transform: translateX(25%);
}

@media (max-width: 800px) {
  .home__container {
    width: 40vw;
    margin: 0 auto;
    transform: translate(0%, 0%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .kiwi_img {
    width: 50rem;
    height: calc(100rem / 3);
  }

  .home_img__wrapper {
    transform: translateX(0%);
  }

  .kiwi_img {
    scale: 0.7;
  }

  .home_hero__container {
    transform: translate(0%, -10%);
  }

  .speech_bubble {
    rotate: 180deg;
    transform: translate(20%, 100%);
  }

  .kiwi_message {
    width: 10rem;
    right: 50%;
    rotate: 180deg;
    transform: translate(0%, 0%);
  }
}

@media (max-width: 700px) {
  .kiwi_img {
    width: 40rem;
    height: calc(80rem / 3);
  }
  .kiwi_message {
    transform: translate(0%, 25%);
  }
}
