@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.home--container {
    height: 100vh;
    display: flex;
    margin: 0 auto;
    padding-bottom: 10rem;
    width: 70%;
  }
  
  .home-hero--wrapper {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(-6.4rem);
  }
  
  .home-hero-img--wrapper {
    align-self: center;
    justify-self: flex-end;
    transform: translateX(2.4rem);
  }

  .header-kiwi-box {
   position: absolute;
   text-align: center;
   min-width: 100vh;
   min-height: 60vh;
   top: -40%;
  }
  
  .kiwiIMG {
    width: 60rem;
    height: 40rem;
  }

  .egg {
    width: 25rem;
    height: 30rem;
  }
  
  h1 {
    font-size: 7.2rem;
    padding-bottom: 0;
  }
  
  .desc {
    font-size: 2rem;
    text-align: center;
    transform: translateY(-1.5rem);
  }
  
  .pet-box {
    width: 40vh;
    height: 40vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border-color: #604623;
  }

.pet-actions-box {
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 0;  
  transform: translateY(150%);
}

.stats--container {
  position: absolute;
  right: 0;
  transform: translateX(125%);
}

.stats--wrapper p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
}

.button-action {
  font-size: 2.4rem;
}

.btn-kiwi {
    background-color: #604623;
    width: 4vw;
    height: 3vh;
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6rem;
}