@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.home-hero--wrapper {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(-6.4rem);
  gap: 1rem;
}

@media (max-width: 700px) {
  html {
    font-size: 70%;
  }
  .home--container {
    transform: translateX(20%);
  }
  .home-hero--wrapper {
    margin-top: 2rem;
    transform: translateX(10%);
  }
}

.header-kiwi-box {
  position: absolute;
  text-align: center;
  min-width: 100vh;
  min-height: 60vh;
  top: -40%;
}

.kiwiIMG {
  width: 60rem;
  height: 40rem;
}

.egg {
  width: 25rem;
  height: 30rem;
}

h1 {
  font-size: 7.2rem;
  padding-bottom: 0;
}

.desc {
  font-size: 2rem;
  text-align: center;
  transform: translateY(-1.5rem);
}

.pet-box {
  min-width: 40vh;
  min-height: 40vh;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border-color: #604623;
}

.pet-actions-box {
  display: flex;
  gap: 2rem;
}
.stats--container {
  position: absolute;
  right: 0;
  transform: translateX(125%);
}

.stats--wrapper p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 800;
}

.button-action {
  font-size: 2.4rem;
}

.btn-kiwi {
  background-color: #604623;
  min-width: 4vw;
  min-height: 3vh;
  font-family: "Kaushan Script", cursive;
  font-size: 1.7rem;
  padding-top: 0;
}

.speech-bubble {
  position: absolute;
  z-index: 999;
  font-weight: 800;
  color: black;
  transform: translate(15%, 25%);
}

.kiwiMessage {
  position: absolute;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  top: 7.5rem;
  transform: translateX(25%);
}
